body {
    background-color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container2{
    max-width: 1500px;
    margin: 0 auto;
}

.header-content h2{
    text-align: right;
}

.header{
    background-image: url(../ASSETS/negro.png);
    background-position: center bottom; /* Centra el background */
    background-repeat: no-repeat; /* Hace que no se repita (tilee) el background */ 
    background-size: cover; /* Cubre todo el header */
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.header-content{
    color: rgb(254, 249, 230);
        text-align: center;
}

.header-content-mini{
    color: rgb(254, 249, 230);
        text-align: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: rgb(254, 249, 230);
    font-size: 50px;
    font-weight: 800;
    position: relative;
    left: 10px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px; 
    padding: 20px;
    color: rgb(254, 249, 230);
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: gray;
}

#menu{
    display: none;
}

.menu-icon{
    width: 100px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content h1{
    font-size:70px;
    line-height: 80px;
    text-transform: uppercase;

    margin-top: 150px;
}

.header-content p{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 140px;
}

.header-content-mini h1{
    font-size:100px;
    line-height: 80px;
    text-transform: uppercase;
    margin-top: -100px;
}

.header-content-mini p{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.stem{
    padding: 100px 0;
    position: relative;
    color: rgb(254, 249, 230);
}

.stem-content{
    text-align: center;
}

.stem-content h2{
    font-size: 40px;
    margin-top: 50px;
}

.stem-content p{
    font-size: 30px;
}

.video {
    width: 100%;
    height: 500px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* espacio entre imágenes y video */
}

/* Controlamos las imágenes */
.video img {
    max-width: 300px;   /* ajusta a tu gusto */
    height: auto;
}

/* Contenedor del video */
.stem-video {
    max-width: 1400px;
    width: 100%;
}

/* Video en sí */
.stem-video video {
    width: 100%;
    height: auto;
    display: block;
}


.header-content h1 {
    animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

.fotito {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 0 auto; /* centra todo */

    margin-top: -400px;
    
}

.fotito2 {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 0 auto; /* centra todo */

    margin-top: -100px;
    
}

.gif {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: auto;
    transform: translate(-50%, -50%);
}

.fotos h1{
    text-transform: uppercase;
}

.texto{
    text-align: center;
    margin-top: -20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(254, 249, 230);

}

.fotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 60px;
    margin-top: 80px;
}

.grid-fotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 80px;
    margin-top: 80px;
}

.stars {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}



